.mi-btn{
    padding: map-get($mi-btn, padding);
    border-radius: map-get($mi-btn, radius);
    text-decoration: map-get($mi-btn, text-decoration);
    color: map-get($mi-btn, color )
}
    
.btn-comprar{
    @extend .mi-btn;
    background-color: rgb(11, 130, 49);

    &:hover {
        background-color: #06942e;
        color: white;
      }
}